.svg{
    margin-top: 49px;
    margin-left: 135px;
}

.svg1 {
    margin-top: 5px;
    margin-left: 226px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.svg2 {
    margin-top: 5.5px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.svg3 {
    margin-top: 5.5px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.svg4 {
    margin-top: 5.5px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.input1{
    background-color: #FFFDF5;
    font-family: Roboto;
    color: #7D7D7D;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 70%;
    height: 20px;
}
.input{
    margin-top: -35px;
    display: flex;
    margin-left: 590px; 
    width: 69.5%; 
}