.body { 
    background: #FFFDF5;
}

.svg{
    margin-top: 49px;
    margin-left: 135px;
}

.svg1 {
    margin-top: 4px;
    margin-left: 203px;
    width: 20px;
    height: 20px;
}

.svg2 {
    margin-top: 5.5px;
    width: 20px;
    height: 20px;
}

.svg3 {
    margin-top: 5.5px;
    width: 20px;
    height: 20px;
}

.svg4 {
    margin-top: 5.5px;
    width: 20px;
    height: 20px;
}

.input1{
    background-color: #FFFDF5;
    font-family: Roboto;
    color: #7D7D7D;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 34.5%;
    height: 20px;
}
.input{
    margin-top: -35px;
    display: flex;
    margin-left: 590px; 
    width: 69.5%; 
}

.div2{
    width:100%;
    background: #FFFDF5;
    display:block;
    float: right;
}

.jeans img{
    width:50%;
    margin-top: 86px;
    max-height: 600px;
    margin-left: 226px;
    float: right;
}

.left{
    margin-top: 86px;
    margin-left: 135px;
    width: 30%;
    float: left; 
}

.left img{
    width: 60%;
    max-height: 500px;
}

.jeans{
    display: flex;
}

.k {
    font-family: Roboto;
    font-size: 20px;
}

.btns button{
    width: 180px;
    height: 180px;
    display:block;
    margin-left: 623px;
    margin-right: 624px;
    margin-bottom: 10%;
    border-radius: 50%;
    background-color:#FFFDF5 ;
    color: #514A7E;
    border-color: #514A7E;
}

.btns button:hover{
    background-color:#514A7E ;
    border: #514A7E;
    color: #FFFDF5;
}

.strelkakat{
    color: #514A7E;
    margin-left: 50%;
    
}

.btns:hover{
    .strelkakat{ 
        stroke: #ffffff;
        margin-left: 50%;  
    }
}

.h1 {
    color: #121212;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;
    margin-left: 135px;
    margin-top: 150px;
}

.text{
    display: flex;
    width: 100%;
}

.spk {
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
    margin-left: 135px;
    display: flex;
    width: 175px;
    height: 26px;
    flex-direction: column;
    margin-top: 60px;
}

.img_krug1{
    position:relative;
    top: -17%;
    padding-left:76%;
    width: 15%;
}

.text_vs_img1 {
    display: flex;
    width: 180px;
    height: 26px;
    flex-direction: column;
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
    margin-left: 111px;
    margin-top: 60px;
}

.text_vs_img2 {
    display: flex;
width: 200px;
height: 26px;
flex-direction: column;
justify-content: center;
color: #7D7D7D;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 118%;
margin-left: 100px;
margin-top: 55px;
}

.img_krug2{
    position:relative;
    top:-55%;
    padding-left:85%;
    width: 20%;
}

.text_vs_img3 {
    display: flex;
    width: 180px;
    height: 26px;
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
    margin-left: 100px;
    margin-top: 50px;
}

.polukr{
    position: relative;
    right: -28%;
    margin-top: -18%; 
    margin-left: 10px;
    width: 80%;
}

.db {
    display: flex;
    width: 550px;
    flex-direction: column;
    color: #121212;
    font-family: Roboto;
    font-size: 200%;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
}

.cocteil{
    margin-left: 45px;
    margin-top: -134.5px;
    color: #514A7E;
    font-family: Bad Script;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
}

.t {
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal; 
    font-weight: 300;
    line-height: 50%; 
}

.text1{
    display:flex;
    width: 130%;
}

.text1_1{
    display:flex;
    width: 100%;
}

/* .krug_strelka {
    position: relative;

} */

.img_krug3{
    width: 40%;
    position: relative;
    top: 30%;
    margin-left: 128px;
}

.img_krug3:hover{
    width:45%;
}

.vd {
    padding-left: 45%;
    margin-top: 20px;
    display: flex;
    width: 180px;
    height: 26px;
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.img_krug4{
    position:relative;
    width: 24%;
    margin-left: 260px;
    margin-top: -25px;
}

.pv {
    margin-top: 16px;
    display: flex;
    width: 180px;
    height: 26px;
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%; 
    margin-left: 300px;
}

.img_krug5{
    position:relative;
    width: 12%;
    margin-left: 450px;
    margin-top: -50px;

}

.krug_message{
    position: relative;
    right: -12%;
}
.img_krug6{
    padding-right: 5%;
    width: 90%;
    position: relative;
    top: 35%;
}
.img_krug6:hover{
    width: 95%;
}

.y {
    display: flex;
    width: 401px;
    height: 31px;
    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;
    margin-top: 100px;
    margin-left: 135px;
}

.a{
    display: flex;
    width: 103px;
    height: 31px;
    color: #514A7E;
    font-family: Bad Script;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 87.305%;
    margin-left: 430px;
    margin-top: -25px;
}

.tovar{
    display: flex;
}

.price{
    display: flex;
}

.price h3{
    margin-left: 135px;
    font-family: Roboto;
    font-size: 12px;
}

.old_price{
    display: flex;
}

.old_price h3{
    color: #7D7D7D;
    text-decoration: line-through;
    font-family: Roboto;
    font-size: 12px;
    margin-top: -27px;
    margin-left: 180px;
}

.category{
    margin-left: 135px;
    color: #7D7D7D;
    font-weight: normal;
    font-size: 85%;
}

.btn_podrobnee{
    margin-left: 135px;
    width: 40%;
    height: 40px;
    background-color: #FFFDF5;
    border: 0.5px solid #514A7E;
    color:#514A7E;
    font-size: 80%;
    padding-left: 5%;

}

.btn_podrobnee:hover{
    background-color:#514A7E;
    color:#FFFDF5;
    .img_strelka{
        stroke: #ffffff;
    }
}

.img_strelka {
    margin-left: 20px;
}

.img{
    width: 80%;
    height: 58%;
    margin-left: 120px;
    margin-top: 30px;
}

.star{
    margin-left: 135px;
    float: right;
    margin-right: -35px;
    margin-top: -15px;
}

.div_tov{
    width: 100%;
}

.s_v_g{
    margin-left: 95%;
    margin-top: -32%;
}

.s_v_g2{
    margin-left: 105%;
    margin-top: -6.5%;
}

.o {
    margin-left: 135px;
    height: 40px;
    font-family: Roboto;
    color: #121212;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
}

.star1 {
    margin-left: 300px;
    margin-top: 40px;
}

.input2 {
    display: flex;
    width: 300px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 170%; 
    margin-left: 300px;
    margin-top: -110px;
}

.date{
    display: flex;
    width: 65px;
    height: 10px;
    flex-direction: column;
    justify-content: center;
    color: #514A7E;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; 
    margin-left: 550px;
    margin-top: -22px;
}

.name {
    display: flex;
    width: 90px;
    height: 10px;
    flex-direction: column;
    justify-content: center;
    color: #121212;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; 
    margin-left: 300px;
    margin-top: -40px;
}

.imgs{
    width: 20%;
    height: 60%;
    margin-left: 135px;
    margin-top: 50px;
}

.otz {
    display: flex;
}

.div_otz{
    width: 100%;
}

.btn_otz {
    margin-left: 135px;
    margin-top: 40px;
    width: 148px;
    height: 37px;
    border: 0.5px solid #514A7E;
    background: #514A7E;
    color: #FFFDF5;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn_otz:hover {
    background-color: #605895;
    border: 0.5px solid #605895;
}

.knopka {
    margin-left: 710px;
    margin-top: -140px;
}
